# Streamlit
streamlit==1.26.0

# Data processing
pandas>=2.2.0
numpy>=1.26.0

# Visualization
matplotlib>=3.7.1
seaborn>=0.13.1

# For better output and logging
rich>=14.3.2
markdown-it-py>=4.0.0
mdurl>=0.1.2
pygments>=2.19.2